html, body {
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    margin: 0;
}

#conteiner1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#conteiner2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#conteiner3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pole {
    margin: 25px;
}

.svet {
    margin: 12.5px;
    width: 95px;
}

input {
    margin-left: 11.5px;
}

.single-checkbox {
    margin-left: 41px;
}

h2 {
    text-align: center;
}

#btn {
    margin-top: 10px;
}